extends layouts/main-layout.pug

block styles 
   link(rel="stylesheet", href="/css/product.css") 

block content
   main 
      if prod.length > 0
         div.grid 
            each product in prod
               article.card.product-item
                  header.card-header 
                  h1.product__title #{product.title}
               div.card__image
                  img(src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_960_720.jpg", alt="image")
               div.card-content
                  h2.product__price $19.99
                  p.product__decription A very interesting book
               div.card__action
                  button.btn Add to cart
      else
         h1 No Products

      